#include <winver.h>

1 ICON "phishguard.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "PhishGuard"
      VALUE "FileDescription", "PhishGuard phishing URL detector"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "PhishGuard"
      VALUE "OriginalFilename", "PhishGuard.exe"
      VALUE "ProductName", "PhishGuard"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
